*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.swp
*.keter
*.prof
*.aux
*.hp
*.eventlog
.hpc
.hsenv*
.stack-work/
.cabal-sandbox
.DS_Store
cabal-dev/
cabal.sandbox.config
cabal.project.local
config/client_session_key.aes
dist*
static/tmp/
static/combined/
yesod-devel/
